<h1>Select a NODE</h1>
<!--passed in an array that takes the @apn (:apn_id), @contact objects there were declared from the node controller def new -->
<div class="row">
  <div class="large-6 columns">
    <%= form_for [@apn, @node] do |f| %>
        Rogers NODE Location:<br>
        <%= f.select :ssr_location,  options_for_select([
                                                               "Toronto",
                                                               "Montreal",
                                                               "Vancouver"
                                                       ])%>

        <p>
          <!--this code below is a nested cocoon form for tunnels-->
          Tunnel Information:<br>
          <%= f.fields_for :tunnels do |tunnel| %>
              <% render "tunnel_fields", f: tunnel %>
          <% end %>
          <!--link_to_add_association is a cocoon method for this adding a nested form-->
          <%= link_to_add_association "Add Tunnel", f, :tunnels %>
        </p>
        <%= f.submit "Select/Save Node"%>
    <% end %>
  </div>

  <%= button_to "Back", apn_nodes_url, :method => "get" %>
</div>
