<div class="row">
  <div class="large-12 columns">
    <h1>Create a new user for Rogers Custom APN website</h1>

    <%= form_for @user do |f| %>
        <% if @user.errors.any? %>
            <div class="error_messages">
              <h2>Form is invalid</h2>
              <ul>
                <% for message in @user.errors.full_messages %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="field">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
        <div class="field">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :administrator %>
          <%= f.check_box :administrator %>
        </div>
        <div class="field">
          <%= f.label :company_name %>
          <%= f.text_field :company_name %>
        </div>

        <div class="field">
          <%= f.label :street_address %>
          <%= f.text_field :street_address %>
        </div>'
        <div class="field">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </div>
        <div class="field">
          <%= f.label :phone_number1 %>
          <%= f.text_field :phone_number1 %>
        </div>
        <div class="field">
          <%= f.label :phone_number2 %>
          <%= f.text_field :phone_number2 %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="actions"><%= f.submit %></div>
    <% end %>
  </div>
</div>