<div class="contact">
      <p>
        <%= f.label :business_contact %>
        <%= f.check_box :business_contact %>
      </p>
      <p>
        <%= f.label :technical_contact %>
        <%= f.check_box :technical_contact %>
      </p>
      <p>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
      </p>
      <p>
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
      </p>
      <p>
        <%= f.label :street_address %>
        <%= f.text_field :street_address %>
      </p>
      <p>
        <%= f.label :city %>
        <%= f.text_field :city %>
      </p>
      <p>
        <%= f.label :province_state %>
        <%= f.text_field :province_state %>
      </p>
      <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :phone_number1 %>
        <%= f.text_field :phone_number1 %>
      </p>
      <p>
        <%= f.label :phone_number2 %>
        <%= f.text_field :phone_number2 %>
      </p>
      <%= link_to_remove_association "Remove Contact", f, wrapper_class: 'contact' %>
</div>