<h1>APN Index</h1>
<!--check to see if the current user is an adminstrator-->
<% if current_user.administrator? %>
    <div>Index of all APN's</div>
<% else %>
    <!--if you are a user you should only see your APN's-->
    <div>Index of all owned APN's</div>
<% end %>
<hr>

<div class="row">
  <div class="large-6 columns">
    <ul>
      <table class="APN Table">
          <thead>
          <th>APN Name:</th>
          <th>Project Name:</th>
          <th>APN Page</th>
          <th>Edit APN Information:</th>
          </thead>
          <tbody>
          <% if current_user.administrator? %>
              <% @apns.each do |apn| %>
                <tr>
                  <td><%= apn.apn_name %></td>
                  <td><%= apn.project_name  %></td>
                  <td><%= button_to "APN Page", apn_url(apn.id), :method => "get" %></td>
                  <td><%= button_to "Edit" , edit_apn_url(apn.id), :method => "get" %></td>
                </tr>
              <% end %>
          <% else %>
              <% current_user.apns.each do |apn| %>
                  <tr>
                    <td><%= apn.apn_name %></td>
                    <td><%= apn.project_name  %></td>
                    <td><%= button_to "APN Page", apn_url(apn.id), :method => "get" %></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
      </table>
    </ul>
  </div>
</div>
