<h1>Apns#new</h1>
<p>Find me in app/views/apns/new.html.erb</p>

<%= form_for @apn do |f| %>
    <% if @apn.errors.any? %>
        <div class="error_messages">
          <h2>Apn Form is invalid</h2>
          <ul>
            <% for message in @apn.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :project_name %>
      <%= f.text_field :project_name %>
    </p>
    <p>
      <%= f.label :project_number %>
      <%= f.text_field :project_number %>
    </p>
    <hr>
    <p>
      APN Contact Information:
      <%= f.fields_for :contacts do |contact| %>
          <% render "contact_fields", f: contact %>
      <% end %>
        <%= link_to_add_association "Add Another Contact", f, :contacts %>
      </div>
    </p>



      <%= f.submit "Submit" %>
    </p>
<% end %>

