<h1>Contact Information for APN:<%= @apn.apn_name %></h1>

<div class="row">
    <div class="large-6 columns">
      <ul>
        <table class="Contact Table">
          <thead>
          <th>Contact Name:</th>
          <th>Contact Type:</th>
          <th>Edit APN Contact Information:</th>
          <th>Delete Contact</th>
          </thead>
          <tbody>
              <% @contacts.each do |c| %>
                  <tr>
                    <td><%= c.name %></td>
                    <td>
                      <%if c.technical_contact? %>
                              Technical Contact
                      <% else %>
                          Business Contact
                      <% end %>
                    </td>
                          <!--pass in the @contact.apn_id and @contact.id into the edit_apn_contact_path-->
                    <td><%= button_to "Edit contact" , edit_apn_contact_path(c.apn_id, c.id), :method => "get" %></td>
                          <td><%= button_to "Delete", apn_contact_path(c.apn_id, c.id), :method => "delete"%></td>
                  </tr>
          <% end %>
          </tbody>
        </table>
        <%= button_to "Add Contact", new_apn_contact_path(@apn), :method => "get" %>
      </ul>
      <%= button_to "Back", apns_url, :method => "get" %>
    </div>
</div>
