<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">

          <li class="name">
            <h1>
              <a href="#">
                Rogers Custom APN
              </a>
            </h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
              <ul class="left">
                <li class="divider"></li>
                <li class="has-dropdown">
                  <!--check to see if the user is logged in-->
                  <% if logged_in? %>
                  <!--if the user is an administrator they will log in and have the following menus-->
                          <% if current_user.administrator? %>
                              <a class="active" href="#">Administrative Options</a>
                                  <ul class="dropdown">
                                      <!--<li><label>Administrative Options</label></li>-->
                                      <li><a href="#" class="apn-index"><%= link_to "APN index page", apns_path %></a></li>
                                      <li><a href="#" class="new-user"><%= link_to "Add new user", new_user_path %></a></li>
                                      <li><a href="#" class="new-apn"><%= link_to "Add new APN", new_apn_path %></li>
                                  </ul>
                                <!--if the user is not an administrator they will see this following menu-->
                          <% else %>
                              <a class="active" href="#">User options</a>
                              <ul class="dropdown">
                                  <!--<li><label>Section Name</label></li>-->
                                  <li><a href="#" class="apn-index"><%= link_to "APN index page", apns_path %></a></li>
                                  <li><a href="#" class="new-apn"><%= link_to "Add new APN", new_apn_path %></a></li>
                                  <!--<li><a href="#">possible new drop down option</a></li>-->
                              </ul>
                          <% end %>
                  <% end %>
              </ul>

          <ul class="right">
            <li class="divider"></li>
            <li class="has-dropdown">
              <% if current_user %>
                  <a href="#"><%= current_user.name %></a>
                  <ul class="dropdown">
                    <li><%= link_to "Log Out", :logout %></li>
                  </ul>
                <% end %>
            </li>
          </ul>
        </section>
      </nav>
    </div>


    <div class="container">
      <% flash.each do |name, message| %>
          <div> <%= [name, message] %></div>
      <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>



